<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
                           http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd">

    <!--dubbo config-->
    <!--<import resource="classpath:dubbo-provider.xml" />-->
    <import resource="hikaricp.xml" />
    <import resource="mybatis.xml" />

    <context:annotation-config />
    <!--<context:component-scan base-package="org.doggytty.controllers">-->
        <!--<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />-->
    <!--</context:component-scan>-->

    <context:component-scan base-package="org.doggytty" />

    <!--<task:executor id="executor" pool-size="10"/>-->
    <!--<task:scheduler id="scheduler" pool-size="30"/>-->
    <!--<task:annotation-driven executor="executor" scheduler="scheduler"/>-->
</beans>